/* General styles */
* {
    font-family: 'Red Hat Mono', monospace;
    font-size: 20px;
}

h1{
    font-size: 2.2rem;
}

/* Style for the header children */
.scores-time {
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
}

/* Styles for the question div */
.question {
    position: absolute;
    width: 30rem;
    height: 30rem;
    left: 30rem;
}